<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your appid and one of your appsecret keys-->
    <add key="BotId" value="MSGraphBot"/>
    <add key="MicrosoftAppId" value="35e00d09-ad08-4413-9ea2-3602c3434106"/>
    <add key="MicrosoftAppPassword" value="UFDEsBUoqkH3gjkmMnTFacY"/>

    <!-- VSO -->
    <add key="ActiveDirectory.Mode" value="vso"/>
    <add key="ActiveDirectory.EndpointUrl" value="https://app.vssps.visualstudio.com"/>
    <add key="ActiveDirectory.Tenant" value="dpeted"/>
    <add key="ActiveDirectory.Scopes" value="vso.work"/>
    <add key="ActiveDirectory.ClientId" value="DADB6890-1B01-4C84-BB7B-15FA7F18D716"/>
    <add key="ActiveDirectory.ClientSecret" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJjaWQiOiJkYWRiNjg5MC0xYjAxLTRjODQtYmI3Yi0xNWZhN2YxOGQ3MTYiLCJjc2kiOiIxOTk0OGNmYi0wZWEzLTQ0NTYtOGI2Yi0yYzBhOTZmZGFlMzIiLCJuYW1laWQiOiI2ZWE2NDE1NS1jMmRmLTRkODctOTY2YS0wZTE5ZDY3ZGM2YjgiLCJpc3MiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Nwcy52aXN1YWxzdHVkaW8uY29tIiwibmJmIjoxNDY4OTIzMzQ0LCJleHAiOjE2MjY2ODk3NDR9.QJII_OsG7IZF3ObwUPmm8cvJOmJefvGJCJQTuYHV-H93ZejLxtkXNsRibp8Fasnqbxt3eXQAoW6aT8Xe3-b46fq8xYZGV87iNpXQ-sln2swQ0F-u-rzU5cbT9eAsT_DfOIRFIZYXRX4TZ6MVNcq5_4qQ0g7YBhLec5DAejW8NSgSpJehJ5Nh-N21K2vJdClbEJRlgXyx3nhK-y-3VSRZsP6sK5lf9Ko9wm7vWd6mY4htp2CULLk3JhuHMPRvH6D6zGsWyWxPY_RlUCwV7_pHaHX01ycLHTMgHVx8tW6c8Dpv9UrS7dixdOH2NM_0N6BJI2MavOtzTXoDfN3f_O0xKA"/>
    <add key="ActiveDirectory.RedirectUrl" value="https://tiagonmasbot.azurewebsites.net/api/OAuthCallback"/>

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.htm"/>
      </files>
    </defaultDocument>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>
